:root {
    --main-font: 'Roboto', sans-serif;
    --main-color: #757575;
}
body {
    font-family: var(--main-font);
}

/* header */
.navigation__list {
font-weight: 500;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.02em;
color: #212121;
}

/* end header */

/* main */

/* end main */